In [4]:
import pandas as pd
import numpy as np

elite = pd.read_csv('boardgame-elite-users.csv')
frequent = pd.read_csv('boardgame-frequent-users.csv')
titles = pd.read_csv('boardgame-titles.csv')
elite = elite.rename(columns = {'Compiled from boardgamegeek.com by Matt Borthwick':'Col1'})

elite.head()

   Col1  gameID  rating
0   272    9216     1.0
1   272    9217     1.0
2   272   39938     1.0
3   272   15363     5.0
4   272   24068     1.0